<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="api:Resourceid" value="https://worldbankiwtest.com/IWActivityApi/" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="api:BaseAddress" value="https://worldbankiwapipqa.azurewebsites.net" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ida:ClientId" value="e1deb976-25b4-4297-ad73-f64323c02393" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ida:Tenant" value="worldbankiwtest.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="api:user" value="katiej@worldbankiwtest.com"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="api:pswd" value="pass@word1"/>
  </appSettings>
</configuration>