<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
  <add key="api:Resourceid" value="https://testiwdev1.com/TodoListService" />
    <add key="api:BaseAddress" value="https://localhost:44308/" />
    <add key="ida:ClientId" value="4c1e603d-a69f-402b-b260-d5d67f8fe910" />
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="worldbankiwdev1.com" />
    <add key="api:user" value="testj@worldbankiwdev1.com"/>
    <add key="api:pswd" value="pass@word2"/>
 </appSettings>
</configuration>